@import '../styles/variables';

.masthead {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($black, 1), rgba($black, 0)),
    url('../assets/black_noise_50.png'), url('../assets/cover-bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: auto, auto, cover;

  height: 100vh;
  padding: 5em 0;
  overflow: auto;
}

.home__btn {
  padding: 15px 30px;
  margin: 50px 0;
}

@media (min-width: 576px) {
  .masthead {
    padding: 10em 0;
  }
}
