@import '../styles/variables';

.masthead {
  padding: 5em 0;
  overflow: auto;
}

.home__btn {
  padding: 15px 30px;
  margin: 50px 0;
}

@media (min-width: 576px) {
  .masthead {
    padding: 10em 0;
  }
}
