@import '../styles/variables';

.work-section {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($black, 0), rgba($black, 1)),
    url('../assets/black_noise_50.png'), url('../assets/work-bg.jpg');
  background-position: center top;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}
