@import '../styles/variables';

.work-info-section {
  background-image: linear-gradient(rgba($black, 0), rgba($black, 1)),
    url('../assets/black_noise_50.png'), url('../assets/work-bg.jpg');
  background-position: center top;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}

.work-info {
  &__description {
    margin: 60px 0;
  }

  &__gallery {
    margin: 60px 0;
  }

  &__footer {
    hr {
      border-color: $dark-vanilla;
      margin: 60px auto;
    }
  }

  .tag-list {
    margin: 30px 0;
    ul li {
      color: $white;
      font-weight: bold;
      font-size: 70%;
      background-color: $sizzling-red;
    }
  }
}

.carousel {
  &-indicators {
    bottom: -40px;

    li {
      background-color: $white;
      transition: 0.5s;
      width: 25px;
    }

    .active {
      background-color: $sizzling-red;
    }
  }

  &-control-next {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: 0.5s;
    width: 10%;

    &-icon {
      height: 50px;
    }
  }

  &-control-prev {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: 0.5s;
    width: 10%;

    &-icon {
    }
  }
}
