@import '../styles/variables';
@import '../styles/mixins';

$card-border-size: 4px;

.work-item {
  @include box_shadow(2);

  background-color: $charcoal;
  margin-top: 50px;

  &__body {
    color: $white;
  }

  &__btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  &__card {
    height: 100%;
    min-height: 350px;
    padding: 30px;
    width: 100%;

    &--flipped {
      border: 0;
      margin-left: $card-border-size;
    }
  }

  &__thumb {
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    color: $sizzling-red;
    font-weight: bold;
  }

  .tag-list {
    bottom: 15px;
    position: absolute;
  }
}

// MEDIA QUERIES
@media (min-width: 576px) {
  .work-item__card {
    min-height: 300px;
  }
}

@media (min-width: 768px) {
  .work-item__card {
    min-height: auto;
  }
}
